<div>
  <label for="pair">Pair:</label>
  <select id="pair" [(ngModel)]="_selectedPair">
    <option value=""></option>
    <option *ngFor="let pair of pairs">{{pair}}</option>
  </select>
  <label for="interval">Interval:</label>
  <select id="interval" [(ngModel)]="_selectedInterval">
    <option value=""></option>
    <option *ngFor="let interval of intervals">{{interval}}</option>
  </select>
  <label for="strategy">Strategy:</label>
  <select id="strategy" [(ngModel)]="_selectedStrategy">
    <option value=""></option>
    <option *ngFor="let strategy of strategies">{{strategy}}</option>
  </select>
  <input type="checkbox" id="volumeValidation" [(ngModel)]="_volumeValidation">
  <label for="volumeValidation">Volume validation</label>
  <span [hidden]="!_volumeValidation">
    <label for="volumeValidationRatio">Ratio:</label>
    <input type="text" id="volumeValidationRatio" [(ngModel)]="_volumeValidationRatio" />
  </span>
</div>

<div>
  <app-macdstrategy #macdStrategyComponent [hidden]="!(_selectedStrategy=='MACD')"></app-macdstrategy>
  <app-ema-strategy #emaStrategyComponent [hidden]="!(_selectedStrategy=='EMA')"></app-ema-strategy>
  <app-rsi-strategy #rsiStrategyComponent [hidden]="!(_selectedStrategy=='RSI')"></app-rsi-strategy>
</div>
